.header-todo {
    background-color: #af7eeb;
    text-align: center;
    padding: 20px 0 40px ;
  }
  .header-todo h1{
    margin-bottom: 15px;
    color: #fff;
    font-style: italic;
  }

  .header-todo input[type='text']{
    min-width: 300px;
    padding: 8px 15px;
    font-size: 16px;
    line-height: 22px;
  }
  .header-todo input[type=submit] {
    padding: 10px;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;

  }